<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AEFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AEFeedAPIEndToEndTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>AEFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>AEFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CI_iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>CI_macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF025550297A497D000CA0E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF025557297A497D000CA0E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF2AB6C429785D7A00A659BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFAE5F942910200100D78CF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFB4D3F2290D87CF00FC6F96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFB4D3FA290D87CF00FC6F96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
